<header>
</header>
<main>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div ng-if="$ctrl.loadingBusiness">
        Loading...
      </div>
      address: <span ng-bind="$ctrl.business.address"></span><br/>
      address2: <span ng-bind="$ctrl.business.address2"></span><br/>
      city: <span ng-bind="$ctrl.business.city"></span><br/>
      country: <span ng-bind="$ctrl.business.country"></span><br/>
      created_at: <span ng-bind="$ctrl.business.created_at"></span><br/>
      name: <span ng-bind="$ctrl.business.name"></span><br/>
      phone: <span ng-bind="$ctrl.business.phone"></span><br/>
      state: <span ng-bind="$ctrl.business.state"></span><br/>
      uuid: <span ng-bind="$ctrl.business.uuid"></span><br/>
      website: <span ng-bind="$ctrl.business.website"></span><br/>
    </div>
  </div>
</main>
