<header>
</header>
<main>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div ng-if="$ctrl.loadingBusiness">
        Loading...
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>created_at</th>
            <th>uuid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a ng-href="{{$ctrl.business.website}}" ng-bind="$ctrl.business.name"></a>
            </td>
            <td>
              {{$ctrl.business.address}} {{$ctrl.business.address2}},
              {{$ctrl.business.city}}, {{$ctrl.business.state}} {{$ctrl.business.country}}
            </td>
            <td><span ng-bind="$ctrl.business.phone"></span></td>
            <td><span ng-bind="$ctrl.business.created_at"></span></td>
            <td>
              <span ng-bind="$ctrl.business.uuid.substr(0, 4)"></span>...
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
